<h3>Add Art</h3>

<form action="/artworks" method="post">

  <div class="form-group">
    <label class="form-label" for="description">Add art:</label>
    <input class="form-control" id="description" name = "description" type = "text" placeholder="List Name" autofocus>
    <button type="submit" class= "button btn">Add art</button>
  </div>
</form>
