<h1>Museum Tracker</h1>

<h4>Museums:</h4>

<form action="/museums" method="post">
  <label for="name">Assign a name to your Museum:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add museum</button>
</form>

<hr>
<h4> Add art to any Museum:</h4>

<form action="/artworks" method="post">
  <label for="museum_id">Select a Museum</label>
  <select id='museum_id' name='museum_id' type='text'>
    <% @museums.each() do |museum| %>
    <option value="<%= museum.id()%>"> <%= museum.name() %> </option>
    <% end %>
  </select>

  <label for="description">Description of the art:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add art</button>
</form>
<hr>

<% if @museums.any?() %>
<h4>Click on a museum to see its art:</h4>

<ul>
  <% @museums.each do |museum| %>
  <li><a href="/museums/<%= museum.id() %>"><%= museum.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h4>There are no museums yet!</h4>
<% end %>
