<h3>Add New Museum</h3>

<form action="/museums" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Assign a name to your Museum:</label>
    <input class="form-control" id="name" name = "name" type = "text" placeholder="List Name" autofocus>
    <button type="submit" class= "button btn">Add Museum</button>
  </div>
</form>
