<h1><%= @museum.name() %>'s Art </h1>



<% if @museum.artworks.any?() %>
<h3>Here is the artwork for this museum:</h3>

<ul>
  <% @museum.artworks.each() do |artwork| %>
  <li><a href="<% artwork.museum_id() %>"</a><%= artwork.description() %></li>
  <% end %>
</ul>

<% else %>

<p>There is no art yet yet!</p>

<% end %>





<hr>


<p><a href="/museums/<%= @museum.id() %>/edit">Edit <%= @museum.name() %></a></p>
<p><a href="/">Return to Main Page</a></p>
